.cont{
    .top{
        color:yellow;
        .bd_logo1{
            display:inline-block;
            width:540px;
            height:358px;
            background-image:url("../img/bd_logo1.png");
            background-size:contain;
        }
    }
    .bottom{
        color:red;
    }
}








